@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-quote-card-1 {
  background-color: #FDF6EC;
}
.bg-quote-card-2 {
  background-color: #E0F7FA;
}
.bg-quote-card-3 {
  background-color: #F3E5F5;
}
.bg-quote-card-4 {
  background-color: #FFF3E0;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: #1f2937;
}
